body {
    background-color: #4FB85D;
    text-align: center;
}

.flash-danger {
    color: red;
    margin-bottom: 10px;
}

.flash-success {
    color: green;
    margin-bottom: 10px;
}

.form-container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    background-color: #6EE17D;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.manager-list, .normal-user-list {
    width: 45%;
}

.manager-list h2, .normal-user-list h2 {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.time-entries .entry {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

.user-list-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}