<!DOCTYPE html>
<html>
<head>
    <title>Usernames</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registered Usernames</h1>
    {% include 'navbar.html' %}
    <div class="user-list-container">
        <div class="manager-list">
            <h2>Managers</h2>
            <ul>
                {% for user in manager_usernames %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="normal-user-list">
            <h2>Normal Users</h2>
            <ul>
                {% for user in normal_usernames %}
                    <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
