<!DOCTYPE html>
<html>
<head>
    <title>Usernames</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Registered Usernames</h1>
    <div class="navbar">
        <a href="/">Home</a>
        {% if 'user_id' in session %}
            <a href="/tracker">Time Tracker</a>
            <a href="/usernames">Usernames</a>
            <a href="/logout">Log Out</a>
        {% else %}
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        {% endif %}
    </div>
    <ul>
        {% for user in usernames %}
            <li>{{ user.username }}</li>
        {% endfor %}
    </ul>
</body>
</html>
